# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - extensiblechecklist

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: mathaacr.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_3591C0468C714B0187A4346DFC2BF8A0 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_AD93D3EF75094AE0B9366693F3ADD13A }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: mathaacr.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_3591C0468C714B0187A4346DFC2BF8A0 }}/extensiblechecklist:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_57F772039D434D05B900031B05DE89CF }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_9C76276C5EFE462D980B12BE6B2AE2D3 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_953A00CBC3FA4F99A649E6426469036F }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'extensiblechecklist'
          slot-name: 'Production'
          images: 'mathaacr.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_3591C0468C714B0187A4346DFC2BF8A0 }}/extensiblechecklist:${{ github.sha }}'
          